.detailEntireView {
  margin-top: 5em;
  margin-left: auto; /* 왼쪽 마진을 'auto'로 설정하여 가운데 정렬 */
  margin-right: auto; /* 오른쪽 마진을 'auto'로 설정하여 가운데 정렬 */
  width: 50em;
}

.detailTitle {
  font-weight: bold;
}

.detailContext {
  width: 50em;
  word-wrap: break-word;
}
