.detailEntireView {
  margin-top: 5em;
  margin-left: auto; /* 왼쪽 마진을 'auto'로 설정하여 가운데 정렬 */
  margin-right: auto; /* 오른쪽 마진을 'auto'로 설정하여 가운데 정렬 */
  width: 50em;
}

.detailTitle {
  font-weight: bold;
}

.preShowWriting {
  resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
  max-width: 50rem;
}

.detailViewBorderLine {
  border-style: none;
  width: 100%;
}

.updateWriting {
  margin-left: 1em;
}
