.header {
  background-color: white !important;
}

.title {
  color: black !important;
  font-weight: bold;
}

.writeButton {
  background-color: white !important;
  color: darkblue !important;
  margin-left: 1em;
}

.searchIcon {
  cursor: pointer;
}
