.homeCard {
  /* display: flex; */
  margin-top: 5em !important;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

#cardEach {
  margin-left: 3em;
  cursor: pointer;
  width: calc(25% - 16px);
}

.itemContext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  text-align: center !important;
  margin-left: 30px;
}
