.homeCard {
  margin-top: 5em !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
}

#cardEach {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: calc(25% - 17px);
  cursor: pointer;
}

.card-img {
  padding: 30px;
  object-fit: contain;
}

.itemContext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}
