.searchBar {
  margin-top: 10rem;
  width: 100%;
  justify-content: flex-start;
  display: flex;
}

.itemContext {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.nullCheck {
  text-align: center;
}

#cardEach {
  cursor: pointer;
  width: calc(25% - 17px);
}

.card-img .card-img-top {
  padding: 30px;
  object-fit: contain;
}

.searchCard {
  margin-top: 5em !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
}
