.write {
  width: 100%;
  height: 100%;
}

.writeTitle {
  margin-top: 10px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.writeContext {
  margin-top: 10px;
  border: none;
  outline: none;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
  height: 80vh; /* 화면 높이의 100% */
  resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
}

.preShowImageWriting {
  width: inherit;
  max-width: 50rem;
}

.preShowImageWriting {
  width: inherit;
  max-width: 50rem;
}

.preShowTextWriting {
  border-style: none;
  width: 100%;
  resize: none;
}

input {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.preShowTitle {
  border-style: none;
  width: 100%;
}

.saveWrite {
  background-color: lightseagreen !important;
  font-weight: bold !important;
  outline: none;
  border: none !important;
}

.saveWriteCol {
  justify-content: flex-end !important;
  display: flex;
  padding: 10px;
}

.writePosition {
  position: sticky !important;
  top: 0;
  height: 80vh;
}
